/**
 * EasyPHP Devserver: a complete development environment
 * @author   Laurent Abbal <laurent@abbal.com>
 * @link     http://www.easyphp.org
 */


body {
  padding-top: 0px;
}

#delay {display:none;position:fixed;top:0px;left:0px;z-index:999;background-color:white;width:100%;height:100%;opacity:0.5;background-image:url('../images/loading.gif');background-repeat:no-repeat;background-position:50% 10%;}

.explorer_dirname a {
	color:#555555;
	font-weight:bold;
	text-decoration: none;
}

.explorer_dirname a:hover {
	color:#555555;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}

.table-hover > tbody >  tr:hover > td,
.table-hover > tbody >  tr:hover > th {
  background-color: #e8e8e8;
}

.list-group-item {
	padding: 10px 15px;
}

.list-group-item a {
  color: #555;
  text-decoration:none;
}
.list-group-item .list-group-item-heading {
  color: #333;
}

.list-group-item:hover,
.list-group-item:focus {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}

.btn-primary {
color: #ffffff;
background-color: #2c3e50;
border-color: #2c3e50;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #1a242f;
border-color: #161f29;
}

.btn-default {
color: #ffffff;
background-color: silver;
border-color: silver;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
color: #ffffff;
background-color: #798d8f;
border-color: #74898a;
}

.btn-info {
	color: #ffffff;
	/*background-color: #3498db;*/
	/*border-color: #3498db;*/
	background-color: #68b3c8;
	border-color: #68b3c8;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  /*background-color: #217dbb;*/
  /*border-color: #2077b2;*/
  background-color: #3091b2;
  border-color: #3091b2;  
}

.btn-success {
    color: #fff;
    background-color: #72b590;
    border-color: #72b590;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #629c7b;
  border-color: #629c7b;  
}


.btn-danger {
    color: #fff;
    background-color: #f25d58;
    border-color: #f25d58;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d9534f;  
}

.btn-xxs, .btn-group-xxs > .btn {
padding: 2px 4px 2px 4px;
font-size: 9px;
border-radius: 2px;
}


.popover-title {
text-align:center;
}

.popover pre {
padding:10px 10px 0px 10px;
margin:0px;
border:none;
background-color:white;
}